[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
django-coverage-plugin ="*"
django-debug-toolbar = "*"
django-extensions = "*"
nplusone = "*"
pypiwin32 = "*"
Werkzeug = "*"

[packages]
argon2-cffi ="*"
boto3 = "*"
channels = "*"
Collectfast = "*"
django = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
django-allauth = "*"
django-cors-headers = "*"
django-health-check = "*"
django-rest-auth = "*"
django-rest-swagger = "*"
django-stdimage = "*"
django-storages = "*"
drf-extensions = "*"
mysqlclient = "*"
psycopg2 = "*"
python-decouple = "*"
sentry-sdk = "*"
twisted = {extras = ["http2", "tls"],version = "*"}

[requires]
python_version = "3.7"
