files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/run_supervised_daemon.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      djangoenv=`cat /opt/python/current/env | tr '\n' ',' | sed 's/%/%%/g' | sed 's/export //g' | sed 's/$PATH/%(ENV_PATH)s/g' | sed 's/$PYTHONPATH//g' | sed 's/$LD_LIBRARY_PATH//g'`
      djangoenv=${djangoenv%?}
      daemonconf="[program:daphne]
      command=/opt/python/run/venv/bin/daphne -b 0.0.0.0 -p 5000 mosh_template.asgi:application
      directory=/opt/python/current/app/src
      numprocs=1
      user=ec2-user
      stdout_logfile=/var/log/stdout_daphne.log
      stderr_logfile=/var/log/stderr_daphne.log
      autostart=true
      autorestart=true
      startsecs=10
      stopwaitsecs = 600
      killasgroup=true
      priority=998
      environment=$djangoenv"

      echo "$daemonconf" | sudo tee /opt/python/etc/daemon.conf
      if ! grep -Fxq "[include]" /opt/python/etc/supervisord.conf
          then
          echo "[include]" | sudo tee -a /opt/python/etc/supervisord.conf
          echo "files: daemon.conf" | sudo tee -a /opt/python/etc/supervisord.conf
      fi
      sudo /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf reread
      sudo /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf update
      sudo /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf restart daphne